.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
div{
  border: solid 1px red;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  justify-content:center;
  


  /* выше установили ограничения для секции */
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
  z-index: 1;
 }

 .link{
   color: #2f80ed;
   text-decoration: none;
 }

.header__title{
  display: flex;
  width: 730px;
  margin-left: 64px;
  }

  .header__title-content{
    font-size: 102px;
    line-height: 96px;
    font-weight: bold;
  }
.header__subtitle{
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
}

.header__subtitle-text{
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}
.header__main-illustration{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  
}
.header__main-illustration-boy{
  width: 765px;
  height: 608px;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.heread__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  z-index: 2;
}

.content{
  flex: 1;
}

.description{
  display: flex;
  align-items:center;
  justify-content:center;

}

.two-columns{
  display:flex;
  justify-content:space-between;
  width: 80%;
  padding: 100px 0;
}

.two-columns__brief{
  width: 175px;
}
.two-columns__brief-linc{
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.two-columns__main-text{
  width: 80%; 
  min-width: 784px;
}
.two-columns__paragraph{
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__span-accent{
  font-weight: bold;
}

.two-columns__paragraph:last-child {
  padding-bottom: 0;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
